html, body {
    padding: 0; margin: 0;
}

body {
    font-size: 14px;
}

header {
    max-width: 1000px;
    margin: 2em auto 0 auto;
}

main {
    max-width: 1000px;
    margin: 2em auto 0 auto;
}

.finding {
    margin: 0 0 1.5em 0;
    padding: 0 0 0 .5em;
    border-left: 5px solid #111;
}

.finding h2 {
    font-size: 120%;
}

.finding h3 {
    font-size: 100%;
    margin-bottom: 0;
}

.finding h3 + p {
    margin-top: 0;
}

.rule {
    display: inline;
}

.rule pre {
    display: inline;
}

.finding code pre {
    margin: 0;
    padding: 0 0 .1em 0;
    border-left: solid 1px #333;
}


.fingerprint {
    font-size: 80%;
}