<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <header>
            <h1>Semgrep Report</h1>
            <p>
                Number of findings: <span>{{ findings | length }}</span>
            </p>
        </header>
        <main>
            {% for finding in findings %}
            <section class="finding">
                <h2>{{ finding.src_path }}</h2>
                <p>
                    {% if finding.start.line != finding.end.line %}
                    Line {{finding.start.line}}, column {{finding.start.col}} to line {{finding.end.line}}, column {{finding.end.col}}
                    {% else %}
                    Line {{finding.start.line}}, column {{finding.start.col}} to {{finding.end.col}}
                    {% endif %}
                </p>

                <div class="rule">
                    <span>Matching rule: </span>
                    <pre>{{ finding.check_id }}</pre>
                </div>

                <p>Category:
                    <span>{{ (finding.category | default('(undefined)', true)) | upper }}</span>
                    | Severity:
                    <span>{{ finding.severity | default('(undefined)', true) }}</span>
                    | Confidence:
                    <span>{{ finding.confidence | default('(undefined)', true) }}</span>
                    | Impact:
                    <span>{{ finding.impact | default('(undefined)', true) }}</span>
                    | Likelihood:
                    <span>{{ finding.likelihood | default('(undefined)', true) }}</span>
                </p>

                <h3>Description</h3>
                <p>{{finding.message}}</p>

                <h3>Code</h3>
                <code>
                    {# {{ finding.source_lines.split('\n') }} #}
                    {% for line in finding.source_lines.split('\n') %}
                    <pre>{{ line }}</pre>
                    {% endfor %}
                </code>

                <p class="fingerprint">Fingerprint: {{finding.fingerprint}}</p>
            </section>
            {% endfor %}
        </main>
        <footer>

        </footer>
    </body>
</html>